<!DOCTYPE html>
<html lang="en">
     <head>
     <title>Gallery</title>
     <meta charset="utf-8">
     <meta name = "format-detection" content = "telephone=no" />
     <link rel="icon" href="images/favicon.ico">
     <link rel="shortcut icon" href="images/favicon.ico" />
     <link rel="stylesheet" href="css/touchTouch.css">
  <link rel="stylesheet" type="text/css" href="css/tooltipster.css" />
     <link rel="stylesheet" href="css/style.css">
     <script src="js/jquery.js"></script>
     <script src="js/jquery-migrate-1.2.1.js"></script>
     <script src="js/script.js"></script> 
     <script src="js/superfish.js"></script>
     <script src="js/jquery.ui.totop.js"></script>
     <script src="js/jquery.equalheights.js"></script>
     <script src="js/jquery.mobilemenu.js"></script>
     <script src="js/jquery.easing.1.3.js"></script>
      <script src="js/jquery.tooltipster.js"></script>
     <script src="js/touchTouch.jquery.js"></script>
     <script>
       $(document).ready(function(){
        $('.gallery a.gal').touchTouch();
        $().UItoTop({ easingType: 'easeOutQuart' });
        $('.tooltip').tooltipster();
        });
     </script>

     <!--[if lt IE 9]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
      <script src="js/html5shiv.js"></script>
      <link rel="stylesheet" media="screen" href="css/ie.css">


    <![endif]-->
     </head>
     
     <body class="" id="top">
     
<!--==============================header=================================--> 
<header>  
  <div class="container_12">
    <div class="grid_12">
        <div class="menu_block ">
          <nav class="horizontal-nav full-width horizontalNav-notprocessed">
            <ul class="sf-menu">
                 <li class="current"><a href="index.html">Home</a></li>
                 <li><a href="index-1.html">Apply</a></li>
                 <li><a href="index-2.html">Allocation</a></li>
                 <li><a href="index-3.html">Admin</a></li>
               </ul>
            </nav>
           <div class="clear"></div>
        </div>
      </div>      
   </div>
</header>
<!--==============================Content=================================-->
<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - March 10, 2014!</div>
  <div class="container_12">
    <div class="grid_3">
      <h4>Allocated Houses</h4>
      <img src="images/page1_img1.jpg" alt="" class="img_inner">
      Lorem ipsum dolor sit t,tetur adipiscing elit. In molliseri eratttis neque facilisi
      <div class="alright"><a href="#" class="btn">More</a></div>
    </div>
    <div class="grid_3">
      <h4>Deallocated Houses</h4>
      <ul class="list">
        <li><a href="#">Lorem ipsum dolor sit </a></li>
        <li><a href="#">Amet,tetur adipiscing elit</a></li>
        <li><a href="#">In mollis eratttis neque </a></li>
        <li><a href="#">Facilisis, sit amet ultretr</a></li>
        <li><a href="#">Icies erat rutrums facilisis</a></li>
        <li><a href="#">Nulla vel viverra auctoreo</a></li>
        <li><a href="#">Magna sodales felis, quis</a></li>
      </ul>
      <div class="alright"><a href="#" class="btn">More</a></div>
    </div>
    <div class="grid_3">
      <h4>Users List</h4>
      <ul class="list">
        <li><a href="#">Morem ipsum dolor site</a></li>
        <li><a href="#">Kmet,tetur adipiscing eli</a></li>
        <li><a href="#">In mollis eratttis nequ </a></li>
        <li><a href="#">Facilisis, sit amet ultretre</a></li>
        <li><a href="#">Cies erat rutrums facilis </a></li>
        <li><a href="#">Kulla vel viverra auctore</a></li>
        <li><a href="#">Bagna sodales felisquik </a></li>
      </ul>
      <div class="alright"><a href="#" class="btn">More</a></div>
    </div>
    <div class="grid_3">
      <h4>Waiting List</h4>
      <ul class="list">
        <li><a href="#">Korem ipsum dolor sitilo</a></li>
        <li><a href="#">Pmet, tetur adipiscing eli</a></li>
        <li><a href="#">On mollis eratttis nequ </a></li>
        <li><a href="#">Gacilisis, sit amet ultre</a></li>
        <li><a href="#">Mcies erat rutrumsu </a></li>
        <li><a href="#">Vacilisis Nulla vel uivra </a></li>
        <li><a href="#">Nuctoreo Magna sodale </a></li>
      </ul>    
      <div class="alright"><a href="#" class="btn">More</a></div>
  </div>
</div>
<!--==============================footer=================================-->
<footer>   
    <div class="container_12">
        </div>
        <div class="copy">
        Housing <br> Website designed by TimTech4u </a>
    </div>  
</footer>
    <script src="js/classie.js"></script>
    <script src="js/thumbnailGridEffects.js"></script>

</body>
</html>